# Binaries for programs and plugins
main
**/*.exe
**/*.exp
**/*.exe~
**/*.so
**/*.dylib
**/*.dll
**/*.log
**/*.lib
**/*.obj

# Ignore binary output folders
bin
build

# Ignore cache folders
cache

# Ignore common editor/system specific metadata
.DS_Store
.idea
.vscode
*.iml

# ENV
.env

# vweb and database
*.db

# generated executables on unix:
install
cmd/v-analyzer/v-analyzer
