# Avoid including irrelevant files
node_modules/
*.log
build/
package-lock.json

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

target/
Cargo.lock
