name: Install CI

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-latest]
      fail-fast: false

    name: Install v-analyzer on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install V
        uses: vlang/setup-v@v1.3
        with:
          check-latest: true

      - name: Install via webscript (Windows)
        if: runner.os == 'Windows'
        run: curl -o install.vsh https://raw.githubusercontent.com/v-analyzer/v-analyzer/main/install.vsh; v run install.vsh; del install.vsh

      - name: Install via webscript (nix)
        if: runner.os != 'Windows'
        run: v -e "$(curl https://raw.githubusercontent.com/v-analyzer/v-analyzer/main/install.vsh -fsSL)"

      - name: Check build success
        run: ~/.config/v-analyzer/bin/v-analyzer --version
