name: Build nightly release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '.github/**'

permissions:
  contents: write

jobs:
  dist:
    strategy:
      matrix:
        include:
          - os: windows-latest
            target: windows-x86_64
            bin_ext: .exe
            cc: msvc
          - os: ubuntu-latest
            target: linux-x86_64
            cc: gcc
          - os: macos-latest
            target: darwin-x86_64
            cc: clang
          - os: macos-latest
            target: darwin-arm64
            cc: clang
            vflags: -d cross_compile_macos_arm64

    name: Build binary artifact for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    env:
      CC: ${{ matrix.cc }}
      VFLAGS: ${{ matrix.vflags }}

    steps:
      - name: Install V
        id: install-v
        uses: vlang/setup-v@v1.3
        with:
          check-latest: true

      - name: Checkout v-analyzer
        uses: actions/checkout@v4
        with:
          path: v-analyzer

      - name: Compile
        run: |
          cd v-analyzer
          v install
          v run build.vsh release

      - name: Create artifact
        uses: actions/upload-artifact@v3
        with:
          name: v-analyzer-${{ matrix.target }}
          path: ./v-analyzer/bin/v-analyzer${{ matrix.bin_ext }}

  nightly-release:
    name: Create Nightly GitHub Release
    if: github.event.repository.full_name == 'v-analyzer/v-analyzer'
    needs: dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3

      - name: 'Create zip'
        shell: bash
        run: |
          chmod 755 v-analyzer-*/*
          for name in $(ls -d v-analyzer-*); do
            7z a -y -tzip -mx=9 -mtc=off -sdel -aoa $name $name/.
            rm -rf $name
          done

      - uses: marvinpinto/action-automatic-releases@latest
        name: Create Release and Upload Assets
        id: create_release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: true
          title: nightly release
          files: |
            *.zip
